main {
  height: 95vh;
  background-color: rgb(59, 82, 73);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Signika Negative', sans-serif;
  width: 20vh;
  font-size: 2vh;
  border: 4px solid rgb(56, 41, 51);
  color: rgb(56, 41, 51);
  padding: 5vh; 
  height: 15vh;
  gap: 2vh;
  border-radius: 8px;
  background-color: rgb(164, 180, 148);
  box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.75);
  
}

.form button {
  margin: 1vh;
  background-color: rgb(56, 41, 51);
  color:rgb(164, 180, 148);
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: .5vh;
  padding-bottom: .5vh;
  border: 2px solid rgb(59, 82, 73);
  border-radius: 8px;
  box-shadow: 2px 2px 8px -2px rgb(56, 41, 51);
-webkit-box-shadow: 2px 2px 8px -2px rgb(56, 41, 51);
-moz-box-shadow: 2px 2px 8px -2px rgb(56, 41, 51);
}

.switch {
  display: flex;
  font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
  margin-bottom: 1vh;
  font-size: 2vh;
  width: 20vh;
  justify-content: space-evenly;
}

.sign-in-toggle {
  color: rgb(56, 41, 51);
  cursor: pointer;
}

.sign-in-toggle:hover {
  transform: scale(1.03);
  color: rgb(164, 180, 148);
  transition: all .2s ease-in-out;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}

